@charset "UTF-8";
/* CSS Document */
@font-face{
	font-family: myFont;
    src: url("Raleway-Light.ttf");
}
@font-face{
	font-family: myFontThin;
    src: url("Raleway-ExtraLight.ttf");
}
* {
	margin:0;
	padding: 0;
	font-family:myFont;
}
a{
    text-decoration: none;
}
.mainmenu{
    width: 100%;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 5%;
}
.mainmenu ul {
    display: inline-flex;
}
.mainmenu ul li{
	list-style: none;
	float:left;
	margin:auto;
	text-align: center;
}
.mainmenu ul li a{
	width: auto;
	height: auto;
	display: block;
	padding: 15px 20px 10px;
	line-height: 30px;
	font-size:24px;  
}
.mainmenu ul li a, .mainmenu ul li a *{
	font-family:myFontThin;
	transition: all 0.3s ease;
}
.mainmenu span {
	font-size:1.3em;
}
.menuhover:hover {
	padding: 15px 35px 10px ;
}
footer{
	width:100%;
	min-width: 1000px; 
	padding-bottom:15px;
	clear:both;
	position:relative;
	z-index: 5;
}
footer img{
	width:100%;
	height:auto;
	position:relative;
	filter: grayscale(100%);
	clear:both;
	z-index: 5;
}
footer h3{
	margin-left:60vw;
	color:#EEE;
	width: 320px;
	height:auto;
}

/*-------------------------Page Setting-------------------------*/
svg#PageMark1 {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
}
svg#PageMark2 {
    position: fixed;
    bottom: 0;
    left: 150px;
    z-index: 9999;
}
div#ScreenWrap {
    width: calc(100% - 150px);
    float: right;
}
.Wrapper {
    width: 95%;
    height: 95%;
    display: block;
    padding: 2.5%;
    margin: auto;
}
img.pagelanding {
    width: 80%;
    display: block;
    margin: 0 auto;
    max-width: 500px;
}
img.pagelanding.scrollpage{ 
    top: 50%;
    transform: translate(0 ,-50%);
    position: relative;
}
div#pagemenu {
    background-color: #FFF2;
    position: fixed;
    width: 150px;
    top: 0;
    left: 0;
    height: 100vh;
}
div#pagelogo {
    width: 100%;
    display: inline-block;
}
div#pagelogo img {
    width: 100%;
    display: block;
}
div#pagemenu table td:hover {
    box-shadow: inset -7px 0 9px -7px rgba(255,255,255,0.4);
}

div#pagemenu table td {
    transition: all 0.3s ease;
    text-align: center;
    font-size: 24px;
    box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.4);
    transition: all 0.3s ease;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -150px;
    overflow: hidden;
	position:relative;
}
div#pagemenu table td:hover {
    background-position: center;
}
div#pagemenu table td:hover a {
    color: #0000;
}
div#pagemenu table td a {
	transition: all 0.3s ease;
    width: 100%;
    display: block;
    height: 100%;
    line-height: calc((100vh - 150px)/4 );
	color: #FFF;
}
div#pagemenu table {
    width: 100%;
    height: calc(100vh - 150px );
    border-spacing: 0;
	margin-top: -4px;
}
div#pagemenu table td.bg-red {
    background-image: url("Asset/m-logo/Logo_Motion.png");
}
div#pagemenu table td.bg-orange {
    background-image: url("Asset/m-logo/Logo_Design.png");
}
div#pagemenu table td.bg-yellow {
    background-image: url("Asset/m-logo/Logo_Video.png");
}
div#pagemenu table td.bg-green {
    background-image: url("Asset/m-logo/Logo_Web.png");
}
div#pagemenu table td.bg-blue {
    background-image: url("Asset/m-logo/Logo_About.png");
}
div#pagemenu table td.bg-purple {
    background-image: url("Asset/m-logo/Logo_Others.png");
}
div.section {
	overflow: hidden;
}
div#section0 span {
    margin: auto;
    display: block;
    width: 20%;
    position: absolute;
    right: 40%;
    text-align: center;
    bottom: 15px;
    color: #FFF;
}
ul#slideMenu {
    text-align: right;
    position: fixed;
    top: 45vh;
    right: 0;
    z-index: 9999;
    transform: translate(0 ,-50%);
    list-style: none;
}
 ul#slideMenu li:hover a span {
    opacity: 1;
    left: unset;
    right: 30px;
    background-color: #FFFA;
    padding: 5px 5px 2px;
    border-radius: 3px;
}

ul#slideMenu li {
    text-align: center;
    padding-right: 20px;
}
ul#slideMenu li.active a div, ul#slideMenu li:hover a div {
    width: 15px;
    height: 15px;
    top: 2.5px;
}
ul#slideMenu a div {
    width: 8px;
    height: 8px;
    background-color: #666;
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: 6px;
    transition: all 0.1s ease;
}
ul#slideMenu a span {
    color: #666;
    opacity: 0;
    top: 0;
    position: absolute;
    right: -50px;
	transition: all 0.2s ease;
    width: max-content;
}
ul#slideMenu a {
    text-align: center;
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
}
.fp-controlArrow{
	display:none;
}
img#ButtonSuggest {
	width: 20%;
	position: absolute;
	bottom: 3%;
	right: 3%;
}

.video-showcase{
	width: 100%;
}


.home_cover {
	position: relative;
	overflow: hidden;
}

.home_title {
	font-family: Raleway-ExtraLight;
	font-size: 120px;
	color: #ffffff;
	position: absolute;
	-webkit-transition: .5s;
	transition: 1.5s cubic-bezier(0,.29,.04,.99);
	bottom: -300px;
	width: 960px;
	height: 200px;
	line-height: 200px;
	vertical-align: middle;
	z-index: 1;
}


.home_title_container {
	background-color: #000000;
	position: absolute;
	width: 100%;
	z-index: 1;
	-webkit-transition: 1s;
	transition: 1s cubic-bezier(0,.29,.04,.99);
	height: 100%;
}

.home_title_scroll {
	background-color: rgba(0,0,0,.4);
	color: #ffffff;
	width: 600px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	bottom: 50px;
	position: absolute;
	z-index: 2;
	opacity: 0;
	-webkit-transition: 1s;
	transition: 1s;
}

.title_bg {
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 0px;
}
